.custom-gif {
  margin-left: auto; 
  width: 30%;
  height: 10%;
  margin-top: -5%;  
}
.desc{
  font-family: 'Roboto' ,sans-serif;
}

@media screen and (max-width: 767px) {
  .custom-gif {
    display: none;
  }
  
  .padding200{
    padding-left: 80%;
  }
  .padding10{
    padding-left: 13%;
    padding-top: 5%;
  }
  
 
}